<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create party</title>
</head>
<body>
    <a href="http://localhost:4000/party/createParty">create room</a>
    
    <form action="http://localhost:4000/party/:roomId">
        <input type="text" name="roomId">
        <button>join a room</button>
    </form>


</body>
</html>