<!DOCTYPE html>
<html>
  <head>
    <meta
      name="google-signin-client_id"
      content="20130920345-i89aphai3edr50pgurjjvqoake77mh1p.apps.googleusercontent.com"
    />
    <title>Auth Test</title>
  </head>

  <body>
    <main>
      <a id="oauth" href="#">Login</a>
    </main>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="./google.js"></script>
  </body>
</html>