<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Party</title>
</head>

<body>
  <h1>ÙStudy Party</h1>
  <h2>Chat</h2>
  <p id="chat"></p>
  <form action="">
    <input id="mess" type="text" autocomplete="off"><button>send</button>
  </form>
  <h2>video</h2>
  <div id="player"></div>
  <br>
  <button id="sync">sync</button>
  <!-- <script src="../socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="../js/script.js"></script> -->
</body>

</html>