<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Party</title>
</head>

<body>
  <h1>video</h1>
  <div id="player"></div>
  <br>
  <button id="sync">sync</button>
  <script src="../socket.io/socket.io.js"></script>
  <script src="../js/script.js"></script>
</body>

</html>